<!doctype html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="/app.css">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title><%= Appname %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="manifest" href="manifest.json">

  <link rel="icon" sizes="152x152" href="AppIcon152x152.png">
  <link rel="apple-touch-icon" href="AppIcon60x60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="AppIcon76x76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="AppIcon120x120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="AppIcon152x152.png">

  <link rel="shortcut icon" href="/img_v2/favicon.ico" type="image/x-icon">

  <style>
  html { display: none; } /* clickjacking protection */
  </style>
  <script type="text/javascript">
  (function(){
    // clickjacking
    (self === top ? document.documentElement.style.display = 'block' : top.location = self.location);

    // bootstrap here
    var polyfills = (typeof Promise !== "undefined" ? [] : []); // for IE11
    var libs = polyfills.concat(['/libs.js','/app.js']);
    !function(e,t,r){function n(){for(;d[0]&&"loaded"==d[0][f];)c=d.shift(),c[o]=!i.parentNode.insertBefore(c,i)}for(var s,a,c,d=[],i=e.scripts[0],o="onreadystatechange",f="readyState";s=r.shift();)a=e.createElement(t),"async"in i?(a.async=!1,e.head.appendChild(a)):i[f]?(d.push(a),a[o]=n):e.write("<"+t+' src="'+s+'" async defer></'+t+">"),a.src=s}(document,"script",libs);

  }())
  </script>
</head>
<body>

  <!--[if lt IE 8]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <div id="app">
    <noscript>
    <h1>Please enable JavaScript.</h1>
    </noscript>
  </div>

</body>
</html>
